// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
	background-color: #FFF6E8 !important;
}

.navbar-logo {
	max-height: 200px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #D0CDB5;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	z-index: 9999;

	.navbar-logo {
		flex: 1;

		img {
			max-width: 100%;
			height: 20rem;


		}
	}

	.navbar-toggle {
		font-size: 40px;
		cursor: pointer;
		margin-right: 30px;
		z-index: 9999;
	}

	.navbar-toggle-checkbox {
		position: absolute;
		display: none;
	}

	.navbar-menu {
		display: none;
		transform: translateY(0%);
		transition: transform 0.3s ease-in-out;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;

			a {
				display: block;
				padding: 10px;
				color: #333;
				text-decoration: none;
			}
		}
	}

	.navbar-toggle-checkbox:checked ~ .navbar-menu {
		display: block;
	}

	@media (max-width: 768px) {
		.navbar-menu {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: #fff;
			box-shadow: 0 2px 5px rgba(0,0,0,.1);
			opacity: 0;
			visibility: hidden;
			transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

			li {
				display: block;
				border-bottom: 1px solid #eee;

				&:last-child {
					border-bottom: none;
				}
			}
		}


	}
}

.section {
	position: relative;
}

.wrapper {

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	z-index: 1;
	margin-left: 300px;
}

.wraptext1 {
	z-index: 2;
	position: absolute;
	background-color: deeppink;
	padding: 60px;
	border-radius: 10px;
	margin-right: 400px;
}

.wraptext2 {
	z-index: 2;
	position: absolute;
	background-color: deeppink;
	padding: 60px;
	border-radius: 10px;
	margin-left: 400px;
}

.image2{
	z-index: 1;
	margin-right: 300px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #7CBFBC;
	padding: 20px;

	&-form {
		flex: 1;
		margin-right: 20px;

		form {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			label {
				font-weight: bold;
				margin-right: 10px;
			}

			.form-inputs {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				input[type="email"] {
					flex: 1;
					margin-right: 10px;
					padding: 10px;
					border: none;
					border-radius: 5px;
					font-size: 16px;
				}

				button[type="submit"] {
					background-color: #333;
					color: #fff;
					border: none;
					border-radius: 5px;
					padding: 10px;
					cursor: pointer;

					&:hover {
						background-color: #555;
					}
				}
			}
		}
	}

	&-social {
		flex: 1;

		.social-icons {
			display: flex;
			justify-content: flex-end;
			margin: 0;
			padding: 0;

			li {
				margin-right: 10px;
				list-style-type: none;


				a {
					display: block;
					font-size: 20px;
					color: #333;

					&:hover {
						color: #555;
					}
				}
			}
		}
	}
}



